// $primary-green: #499242;
// $primary-blue: #68B9FE;
// $background-blue: rgba(104, 185, 254, 0.4);
$primary-white: #FFFFFF;
$primary-grey: #4A4A4A;
// $secondary-white: rgba(255, 255, 255, 0.9);
$trim: #68B9FE 1px solid;

@include font-face("OpenSansLight", font-files("open-sans/OpenSans-Light.ttf"));
@include font-face("OpenSansRegular", font-files("open-sans/OpenSans-Regular.ttf"));
@include font-face("MerriweatherLight", font-files("merriweather/Merriweather-Light.otf"));

// Primary Fonts
// to do: create as mixins as entire classes
// instead of just variables
$headlineFont: "MerriweatherLight";
$bodyFont: "OpenSansLight";
$subheadFont: "OpenSansRegular";
$compactFont: "OpenSansLight";
$tinytypeFont: "OpenSansRegular";

// Primary Colors
$lightBlue: #64BCBB;
$green: #49A14C;
$darkBlue: #10716F;

body {
    padding-top: 70px;
    margin: 0;
    font-family: 'OpenSansLight';
}

h1 {
  font-family: Montserrat;
  font-weight: 100;
}


#main-nav {
    #navbar-logo {max-height: 50px;}
    background-color: $primary-grey;
    border-bottom: $green 1px solid;
    .navbar-nav {
        li {
            &.dropdown.open {
                    a {
                        background: #FFF;
                        color: $green;
                        &:hover {
                            background: $green;
                            color: $primary-white;
                        }
                    }
                }
            ul.dropdown-menu { background: #FFF; }
            a {
                color: $primary-white;
                &:active, &:hover {
                    background: $green;
                    color: $primary-white;
                        }
                }
        }
    }
}

.jumbotron {
    background-color: #FFF;
    border-bottom: #EEE 1px solid;
    text-align: center;
    h1 {font-size: 45px;}
}

#question-buttons {
    .btn.btn-lg {
        border-radius: 0;
        border: $green 1px solid;
        color: $green;
        &:hover, &:active, &:focus {
            background: $green;
            color: $primary-white;
        }

    }
}
