
/*#chart {*/
    /*height: 500px;*/
/*}*/

.node rect.node {
    cursor: move;
    fill-opacity: 1;
    shape-rendering: crispEdges;
    fill: #2F9400;
}

.node text {
    fill: #fff;
    pointer-events: none;
}

.link {
    fill: none;
    stroke: #2F9400;
    stroke-opacity: 1;
}
