$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "compass/css3";

@import 'sass-bootstrap/lib/bootstrap';

// Import our base styles
@import '_base';

// Import styles for all other parts of the site
// all styles should be wrapped at the top level
// e.g the '_mainViz' partial is wrapped with the id
// of the main div for that portion of the site #main-viz
@import '_where';
@import '_mainViz';

.jumbotron.minified {
  transition: padding-top 1s, padding-bottom 1s;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type='text'].read-only {
  border-color: rgba(0, 0, 0, 0);
}

.force-submit {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

/** Home Page **/
.home {
  .header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0 15px 15px 15px;
    border-bottom: 5px solid black;
  }

  .sticker {
    position: absolute;
    right: 0px;
    top: -55px;
  }

}

/** Browse My Ballot Search and Results Pages ============================ **/
.browse {

  .btn {
    font-family: sans-serif;
    font-size: 22px;
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-bottom: 55px;

    .areaLabel {
      position: relative;
      top: 100px;
    }
  }

  .current {
    font-weight: bolder;
    .areaLabel {
        border-bottom: 3px solid black;
    }
  }
  .local {
    background-image: url('../images/icons/navi_local_gray.svg');
  }
  .local.current {
    background-image: url('../images/icons/navi_local_selected.svg');
  }
  .zip {
    background-image: url('../images/icons/navi_zipcodes.svg');
  }
  .zip.current {
    background-image: url('../images/icons/navi_zipcodes_selected.svg');
  }
  .city {
    background-image: url('../images/icons/navi_city.svg');
  }
  .city.current {
    background-image: url('../images/icons/navi_city_selected.svg');
  }
  .county {
    background-image: url('../images/icons/navi_counties.svg');
  }
  .county.current {
    background-image: url('../images/icons/navi_counties_selected.svg');
  }
  .state {
    background-image: url('../images/icons/navi_state.svg');
  }
  .state.current {
    background-image: url('../images/icons/navi_state_selected.svg');
  }
  .national {
    background-image: url('../images/icons/navi_national.svg');
  }
  .national.current {
    background-image: url('../images/icons/navi_national_selected.svg');
  }
  .form-control {
    font-size: 2.5em;
    height: 60px;
    margin: 10px;
    border: 2px solid #777;
    border-radius: 7px;
  }
  .attempted {
    .ng-invalid {
      border-color: red;
    }
  }
  .themed {
    color: #64bcba;
    font-size: 30px;
  }
}

.campaign-tile {
  border: 1px solid #666666;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  padding: 5px;
  overflow: auto;
}
.campaign-tile, .campaign-detail {
  h2 {
    font-family: OpenSansBold;
    font-size: 30px;
    a {
      color: #666666;
    }
  }
  .portrait {
    float: left;
    display: inline-block;
    width: 170px;
    height: 170px;
  }
  .total {
    clear: both;
    font-size: 2.5em;
  }
  .radial {
    display: inline-block;
  }
  .percent {
    font-size: 2em;
  }
  .icon {
    width: 50px;
    height: 50px;
    margin-top: -50px;
    position: relative;
    top: 75px;
    left: 25px;
  }
  .icon-grassroots {
    background-image: url('../images/icons/grassroots_funding_heart.svg');
  }
  .icon-district {
    background-image: url('../images/icons/indistrict_funding__gps.svg');
  }
  .icon-money {
    background-image: url('../images/icons/total_money_raised.svg');
  }
  .icon-individuals {
    background-image: url('../images/icons/whos_giving_indv.svg');
  }
  .icon-pac {
    background-image: url('../images/icons/whos_giving_pac.svg');
  }
  .icon-party {
    background-image: url('../images/icons/whos_giving_party.svg');
  }
  .party {
    width: 75px;
    height: 75px;
    display: inline-block;
  }
  .party-democrat {
    background-image: url('../images/icons/party2_dem_donkey.svg');
  }
  .party-republican {
    background-image: url('../images/icons/party_rep_elphant.svg');
  }
}

.funding-icons {
  float: left;
  width: 33%;
}


/*** Campaign Detail Page ============================================= ***/

.campaign-detail {
  .detail-header {
    border-bottom: 5px solid black;
  }
  h3 {
    font-family: OpenSansBold;
    letter-spacing: 0.5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .btn-toggle {
    position: relative;
    top: 2px;
    padding: 0;
    width: 51px;
    height: 51px;
    overflow: hidden;

    &:hover {
      img {
        position: relative;
        top: -49px;
      }
    }
  }
  .d3spend {
    text {
      font-family: OpenSansRegular;
      font-size: 24px;
      fill: black;
      text-anchor: middle;
    }
  }
}

.candidate-name {
  text-transform: capitalize;
}

  .legend {
    display: inline-block;
    width: 150px;

    .category {
      font-weight: 'bold';
      margin: 2px 2px 0 0;
    }
  }

$iconSize: 85px;

.search {

  .icon {
    display: inline-block;
    width: $iconSize;
    height: $iconSize;
    margin: 15px;
  }
  .icon-candidate {
    background-image: url('../images/icons/search_campgains.svg');
  }
  .icon-initiative {
    background-image: url('../images/icons/search_campgains2.svg');
  }
  .icon-party {
    background-image: url('../images/icons/search_campgains4.svg');
  }
  .icon-arrow {
    height: ($iconSize + 15px) / 2;
    width: ($iconSize + 15px) / 2;
    margin-top: ($iconSize / 3) + 5px;
    margin-left: -20px;
    background-image: url('../images/icons/search_arrow.svg');
  }
}

.search-box {
  position: relative;

  .form-control {
    font-size: 2.5em;
    height: $iconSize * 7 / 10;
    margin-top: $iconSize / 3;
    border: 2px solid #777;
    border-radius: 7px;
  }
  input {
    padding-left: ($iconSize / 2) + 8px;
  }
  .bg-search-icon {
    width: ($iconSize / 2) - 5px;
    height: ($iconSize / 2) - 5px;
    position: absolute;
    left: 25px;
    top: 40px;
  }
}

.browse, .search, .results {
  h1 {
    font-family: "MerriweatherLight";
    font-size: 3.5em;
    letter-spacing: 2px;
  }
}

/* FOOTER ======================================================= */

.footer {
  margin-top: 75px;
}

/* MEDIA QUERIES ================================================ */

@media (max-width: 1199px) {
  .footer {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .footer {
    h4 {
      margin-right: 0px;
    }
    .social-media-thumbnails {
      text-align: center;
    }
  }
}

@media (max-width: 485px) {
  .home {
    .header {
      margin-top: 0px; 
    }
  }  
}


