$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "compass/css3";

@import 'sass-bootstrap/lib/bootstrap';

// Import our base styles
@import '_base';

// Import styles for all other parts of the site
// all styles should be wrapped at the top level
// e.g the '_mainViz' partial is wrapped with the id
// of the main div for that portion of the site #main-viz
@import '_where';
@import '_mainViz';

.jumbotron.minified {
  transition: padding-top 1s, padding-bottom 1s;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type='text'].read-only {
  border-color: rgba(0, 0, 0, 0);
}

.force-submit {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

/** Home Page **/
.home {
  .header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 15px 15px;
    border-bottom: 5px solid black;
  }

  .sticker {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}

/** Browse My Ballot Search and Results Pages **/
.browse {

  font-size: 22px;

  .btn {
    font-family: sans-serif;
    font-size: 22px;
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-bottom: 55px;

    .areaLabel {
      position: relative;
      top: 100px;
    }
  }

  .current {
    font-weight: bolder;
    .areaLabel {
        border-bottom: 3px solid black;
    }
  }
  .local {
    background-image: url('../images/icons/navi_local_gray.svg');
  }
  .local.current {
    background-image: url('../images/icons/navi_local_selected.svg');
  }
  .zip {
    background-image: url('../images/icons/navi_zipcodes.svg');
  }
  .zip.current {
    background-image: url('../images/icons/navi_zipcodes_selected.svg');
  }
  .city {
    background-image: url('../images/icons/navi_city.svg');
  }
  .city.current {
    background-image: url('../images/icons/navi_city_selected.svg');
  }
  .county {
    background-image: url('../images/icons/navi_counties.svg');
  }
  .county.current {
    background-image: url('../images/icons/navi_counties_selected.svg');
  }
  .state {
    background-image: url('../images/icons/navi_state.svg');
  }
  .state.current {
    background-image: url('../images/icons/navi_state_selected.svg');
  }
  .national {
    background-image: url('../images/icons/navi_national.svg');
  }
  .national.current {
    background-image: url('../images/icons/navi_national_selected.svg');
  }
  input {
    font-size: 22px;
    margin: 5px;
  }
  .attempted {
    .ng-invalid {
      border-color: red;
    }
  }
  .themed {
    color: #64bcba;
    font-size: 30px;
  }
}

.campaign-tile {
  border: 1px solid silver;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  padding: 5px;
}


/*** Campaign Detail Page **/

  .legend {
    display: inline-block;
    width: 150px;

    .category {
      font-weight: 'bold';
      margin: 2px 2px 0 0;
    }
  }


