$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "compass/css3";

@import 'sass-bootstrap/lib/bootstrap';

// Import our base styles
@import '_base';

// Import styles for all other parts of the site
// all styles should be wrapped at the top level
// e.g the '_mainViz' partial is wrapped with the id
// of the main div for that portion of the site #main-viz
@import '_where';
@import '_mainViz';

.jumbotron.minified {
  transition: padding-top 1s, padding-bottom 1s;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type='text'].read-only {
  border-color: rgba(0, 0, 0, 0);
}

/** Browse My Ballot Result Page **/
.browse {
  .current-address {
    font-size: 22px;
  }

  .race-level {
    .btn {
      font-size: 22px;
    }
  }

}

.campaign-tile {
  border: 1px solid silver;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  padding: 5px;
}


/*** Campaign Detail Page **/

  .legend {
    display: inline-block;
    width: 150px;

    .category {
      font-weight: 'bold';
      margin: 2px 2px 0 0;
    }
  }


