<div class="campaign-tile">
  {{JSON.stringify(campaign)}}
  <h2 class="text-center candidate-name"><a href="#campaign/{{campaign.filer_id}}">{{campaign.candidate_name | convertCase}}</a></h2>
  <div class="portrait col-md-6">
    <img src="images/icons/genderless.svg" />
  </div>
  <div ng-class="{'party-{{campaign.party}}': true }" class="party col-md-6"> {{campaign.party}} </div>
  <div class="total">{{campaign.total | currencyFormat}}</div>
  <div>Total Money Raised</div>
  <h5>Funding Sources</h5>
  <div simple-radial percent="campaign.grassroots" class="funding-icons" title="Grassroots Funding" icon="grassroots"></div>
  <div simple-radial percent="campaign.instate" class="funding-icons" title="In-District Funding" icon="district"></div>
  <div simple-radial percent="campaign.spent_percent" class="funding-icons" title="Spent" icon="money" color="#48a04b"></div>
</div>
