<div class="campaign-tile">
  {{JSON.stringify(campaign)}}
  <h1 class="text-center"><a href="#campaign/{{campaign.candidate_name}}">{{campaign.candidate_name | convertCase}}</a></h1>
  <div class="portrait col-md-6">
    <img src="images/icons/genderless.svg" />
  </div>
  <div ng-class="{'party-{{campaign.party}}': true }" class="party col-md-6"> {{campaign.party}} </div>
  <div class="total">${{campaign.total}}</div>
  <div>Total Money Raised</div>
  <h5>Funding Sources</h5>
  <div simple-radial percent="campaign.grassroots" title="Grassroots Funding" icon="grassroots"></div>
  <div simple-radial percent="campaign.instate" title="In-District Funding" icon="district"></div>
</div>