<div class="spending">
    <!-- No access to pie chart unless it can untangle the small categories
    <div class="pull-right">
        <div class="btn btn-toggle"
             ng-click="chartType = 'bar'">
            <img src="/images/icons/bar-combined.png" />
        </div>
        <div class="btn btn-toggle"
             ng-click="chartType = 'pie'">
            <img src="/images/icons/pie-combined.png" />
        </div>
    </div>  -->
    <div class="d3spend"></div>
    <div id="d3tooltip" ng-show="showTooltip">
        <p><span id="value"></span></p>
    </div>
</div>