<div class="footer" role="navigation" id="footer-nav">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-11 col-md-offset-1">
        <div class="row">
          <div class="col-md-3">
            <div class="row">
              <h4>Hack Oregon</h4>
              <div class="btn-group">
                <a href="">
                  <img src="images/icons/landing_twitter.svg" width="22" />
                </a>
                <a href="">
                  <img src="images/icons/landing_facebook.svg" width="22" />
                </a>
                <a href="">
                  <img src="images/icons/landing_mail.svg" width="22" />
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="#about">ABOUT</h4>
            <div><a href="#">Behind the Curtain</a></div>
            <div><a href="#hack_pac">Hack PAC</a></div>
          </div>
          <div class="col-md-3">
            <h4 class="underlined">EXPLORE</h4>
            <div><a href="#browse">Browse My Ballot</a></div>
            <div><a href="#search">Search Candidates</a></div>
            <div><a href="#view-all">View All Oregon</a></div>
            <div><a href="#sandbox">Sandbox</a></div>
          </div>
          <div class="col-md-3">
            <h4 class="underlined">TAKE ACTION</h4>
            <div><a href="#register">Register to Vote</a></div>
            <div><a href="http://www.hackoregon.org/">Join Us</a></div>
          </div>
        </div>
        <div class="row">
        <p></p>
        <p></p>
          <p class="text-center text-muted">
            <a href="http://hackoregon.com">hackoregon.com</a> / Portland, Oregon / Filler information here
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
