<div class="footer" role="navigation" id="footer-nav">
  <div class="container">
    <div class=" col-sm-12 col-md-10 col-md-offset-1">
      <div class="col-sm-12 col-md-11 col-md-offset-1">
        <div class="row">
          <div class="col-sm-3 social-media-thumbnails">

              <h4>Hack Oregon</h4>
              <social-tags data-twitter="https://twitter.com/HackOregon"
                data-mail="mailto:catherine@hackoregon.org"
                size="36" overlap="false"/>

          </div>
          <div class="col-sm-3">
            <h4 class="underlined">ABOUT</h4>
            <div><a href="#about">Behind the Curtain</a></div>
            <div><a href="#faq">FAQ</a></div>
            <!--<div><a href="#hack_pac">Hack PAC</a></div> -->
          </div>
          <div class="col-sm-3">
            <h4 class="underlined">EXPLORE</h4>
            <!--<div><a href="#browse">Browse My Ballot</a></div> -->
            <div><a href="#search">Search Campaigns</a></div>
            <div><a href="#oregon">View All Oregon</a></div>

          </div>
          <div class="col-sm-3">
            <h4 class="underlined">TAKE ACTION</h4>
            <div><a href="https://secure.sos.state.or.us/orestar/vr/register.do?lang=eng">Register to Vote</a></div>
            <div><a href="http://www.vote411.org/">Voter Guide</a></div>
            <div><a href="http://www.hackoregon.org/">Join Us</a></div>
          </div>
        </div>
        <div class="row">
        <p></p>
        <p></p>
          <p class="text-center text-muted">
            <a href="http://hackoregon.org">hackoregon.org</a> / Portland, Oregon
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
