<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="main-nav">
	<div class="container">
	  <div class="navbar-header" id='nav-header'>
	  	<ul class="nav navbar-nav navbar-right">
	    <!--<li ng-class="checkFor(SITE.BALLOT)"><div><a class="" href="#myballot">My Ballot</a></div></li> -->
		    <li ng-class="checkFor(SITE.SEARCH)"><div><a class="" href="#/results/candidate/#">Search</a></div></li>
            <li ng-class="checkFor(SITE.OREGON)"><div><a class="" href="#oregon">Oregon</a></div></li>
	  	</ul>
	  </div>
	</div>
</nav>