@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat-Bold.ttf');
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans';
}

header, nav, main {
  max-width: 1000px;
  margin: 0 auto;
}

#logo {
  height: 80px;
  margin-top: -5px;
  vertical-align: middle;
}

h1 {
  font-family: Montserrat;
  font-weight: 100;
}

header {
  position: fixed;
  text-align: center;
  top: 0;
  left: 25px;
}

nav {
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}

nav a {
  border: 1px solid #CCC;
  padding: 5px;
  text-decoration: none;
}

main {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 500px;
}

footer {
  z-index: 100;
  background: white;
  height: 100px;
  width: 100%;
  position:fixed;
  bottom: 0;
  border-top: 1px solid #CCC;
  -webkit-user-select: none;
}

#grabber {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 5px;
  background-color: #26B;
  cursor: -webkit-grab;
  -webkit-user-drag: none;
  margin-left: -2px;
  -webkit-user-select: none;
}

#grabber:active {
  cursor: -webkit-grabbing;
}