<div>
  <h1>Who's Running {{raceLevel}}?</h1>

  <p>Most expensive campaigns in your area</p>
  <ul>
    <li><a href="#contributions/campaign_a">Candidate A</a></li>
    <li><a href="#contributions/campaign_b">Candidate B</a></li>
    <li><a href="#contributions/campaign_c">Candidate C</a></li>
  </ul>
  <a ng-if="raceLevel == RACE_LEVEL_LOCAL" href="#campaigns/{{RACE_LEVEL_STATE}}">Curious about State-wide Candidates?</a>
  <a ng-if="raceLevel == RACE_LEVEL_STATE" href="#campaigns">Curious about Local Candidates?</a>
</div>
