<div class="container">


    <div class="row">

        <div class="col-md-4">
            <input type="text" placeholder="Candidate look up" ng-model="viewModel.candidateSearch" />
        </div>

        <div class="col-md-4">
            <button class="btn" ng-click="maximize(sections.SECTION_BROWSE)">
                Browse My Ballot
            </button>
        </div>

        <div class="col-md-4">
            <button class="btn" ng-click="maximize(sections.SECTION_VIEW_ALL)">
                View All Oregon
            </button>
        </div>

    </div>


    <div class="row">

        <div class="col-md-6">
            <h1>{{viewModel.campaign.name}}</h1>
            <h3>{{viewModel.campaign.race}}</h3>

            <img src="{{viewModel.campaign.photo}}" />

            <h2>Get Involved</h2>
            <a href="{{viewModel.campaign.website}}">Official Campaign Website</a>
            <p>Contact: {{viewModel.campaign.phone}}</p>
            <p>Update your voter registration</p>
            <h4>Pledge your vote to this candidate!</h4>

            <img src="http://placehold.it/35x35" alt="twitter" />
            <img src="http://placehold.it/35x35" alt="facebook" />

            <button>Make a grassroots donation</button>
            <p>(optional paid service-feature for campaigns)</p>
        </div>

        <div class="col-md-6">
            <h2>Vital Stats</h2>

            <div id="stats-total">
                <h3>Total money raised: ${{viewModel.campaign.vitalStats.total}}</h3>
                <img src="http://placehold.it/150x130" />
                <img src="http://placehold.it/35x35" alt="twitter" />
                <img src="http://placehold.it/35x35" alt="facebook" />
            </div>

            <div id="stats-grassroots">
                <h3>Funding from grassroots donors: {{viewModel.campaign.vitalStats.grassroots}}%</h3>
                <img src="http://placehold.it/150x130" />
                <img src="http://placehold.it/35x35" alt="twitter" />
                <img src="http://placehold.it/35x35" alt="facebook" />
            </div>

            <div id="stats-district">
                <h3>Funding from in-district voters: {{viewModel.campaign.vitalStats.district}}%</h3>
                <img src="http://placehold.it/150x130" />
                <img src="http://placehold.it/35x35" alt="twitter" />
                <img src="http://placehold.it/35x35" alt="facebook" />
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12">
            <h1>Go Deeper.</h1>
        </div>

    </div>


    <div class="row">

        <div class="col-md-6">
            <h2>MONEY IN</h2>
            <img src="http://placehold.it/100x50" />

            <h2><a href="#contributions/{{campaignId}}">Who's giving?</a></h3>
            <h2><a href="#where/{{campaignId}}">Where is the money coming from?</a></h2>
        </div>

        <div class="col-md-6">
            <h2>MONEY OUT</h2>
            <img src="http://placehold.it/100x50" />

            <h2><a href="#spend/{{campaignId}}">What are they spending money on?</a></h2>
            <h2><a href="#worth/{{campaignId}}">How much does my vote matter?</a></h2>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12">
            <h1>{{campaignId}} Contributors</h1>
            <ul>
                <li><h2>Contributor A</h2><a href="#spend/{{campaignId}}/contributor_a">Spend?</a></li>
                <li><h2>Contributor B</h2><a href="#spend/{{campaignId}}/contributor_b">Spend?</a></li>
                <li><h2>Contributor C</h2><a href="#spend/{{campaignId}}/contributor_c">Spend?</a></li>
                <li><h2>Contributor D</h2><a href="#spend/{{campaignId}}/contributor_d">Spend?</a></li>
            </ul>
        </div>

    </div>


</div>
