<div>
  <h1>{{campaignId}} Contributors</h1>

  <ul>
    <li><h2>Contributor A</h2><a href="#spend/{{campaignId}}/contributor_a">Spend?</a></li>
    <li><h2>Contributor B</h2><a href="#spend/{{campaignId}}/contributor_b">Spend?</a></li>
    <li><h2>Contributor C</h2><a href="#spend/{{campaignId}}/contributor_c">Spend?</a></li>
    <li><h2>Contributor D</h2><a href="#spend/{{campaignId}}/contributor_d">Spend?</a></li>
  </ul>

  <h2><a href="#where/{{campaignId}}">How much of this funding is local?</a></h2>
</div>