<div class="container faq">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<h2>FAQ</h2>
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
			          Why does this information matter to me?</a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			        While it’s  easy to look up a record of individual campaign finance transactions, not everyone is able to look at a spreadsheet of financial history and understand the motives and influences driving the machinery of local elections.  It’s even hard for campaign professionals and journalists to do that. The Behind the Curtain app uses technology visualize campaign finance data in a more meaningful way -- and at the best of times –- let the data tell its own story.
			        <br><br>
							Ultimately, we believe that voters want to be informed, and using tools rooted in real data tha can filter through the noise of campaign-driven media and third party reporting is fundamental to empowering honest democracy in the post-internet era.</a>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
			        	For data scientists, your visualizations look pretty simple. </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
							Did you think so? We’re happy about that.
							<br><br>
							We realized after our first round of user-testing that most people aren’t used to interacting with data as a way to learn about something they don’t understand.  For many of us, politics can be one of those subjects that is rooted in a lot of myth, misinformation, and intense emotion reactions.  On top of that, the real impact of local politics can seem even more opaque. Making something for everyone that can use data (scary) as a way to make sense of local elections (what?) is a challenge that called for constant editing, and we killed a lot of our darlings.
							<br><br>
							All the things that we learned and built that didn’t make this initial launch, truly deserves its own blog post.  Look forward to that on <a href="http://www.hackoregon.org">hackoregon.org</a>.
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
			        	Is your group affiliated with anyone? </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
							Hack Oregon is an independent non-profit and we make our own decisions and do our best to treat the data in a way that it speaks for itself.
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
			        	Who is sponsoring you?</a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
							This project is possible because of enormous dedication from volunteer developers, designers, and context experts. To be totally honest, this project was completed with a budget of $2,500 from a single anonymous donor and we spent the money almost entirely on Domino’s pizza ($5.99 medium two topping carry-out specials), occasional beer from Costco, and a few web tools for working with the data.
							<br><br>
							A special thanks to <a href="http://portlandcodeschool.com">Portland Code School</a>, <a href="http://periscopic.com">Periscopic</a>, and <a href="http://instrument.com">Instrument</a> who graciously allowed us to occupy their offices on many weekday evenings.
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
			        	Where did you get the data?</a>
			      </h4>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse">
			      <div class="panel-body">
							Campaign finance data is one of the most transparent public knowledge banks available thanks to federal and state reporting laws.  All of our data comes directly from the <a href="https://secure.sos.state.or.us/orestar/GotoSearchByName.do">Oregon Secretary of State's website</a>.
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix">
			          Why have some campaigns spent more money than they have raised?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse">
			      <div class="panel-body">
			        We calculate our "money raised" category based on how much money a campaign has raised during the current election cycle - so starting November 2010.  It is not uncommon for candidates to have money remaining from previous campaigns that they can carry forward for future campaigns. Currently this amount is not accounted for in our totals.  Therefore, campaigns may appear to have spent more than they have raised.
			      </div>
			    </div>
			  </div>

		    <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">
			          How current is your data?</a>
			      </h4>
			    </div>
			    <div id="collapseSeven" class="panel-collapse collapse">
			      <div class="panel-body">
			        The Oregon Secretary of State does not have the infrastructure set up to provide regular data dumps, therefore we must scrape the data directly from their website in order to keep our data as current as possible.  We do this data scrape daily in an attempt to provide the most current information as possible.  However, due to the structure of their site, our scrapers do occasionally miss some of the data.  Each record generated on our site provides the number of transactions that our data is using to calculate our totals.  For the most current transaction data please visit the <a href="https://secure.sos.state.or.us/orestar/GotoSearchByElection.do">Oregon Secretary of State’s website</a> and search for the campaign or candidate you are looking for.
			      </div>
			    </div>
		  	</div>

		  	<div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight">
			          How did you compute the contribution results?</a>
			      </h4>
			    </div>
			    <div id="collapseEight" class="panel-collapse collapse">
			      <div class="panel-body">
			      	Transactions for the current campaign cycle are filtered based on the way campaigns classify their contributions.  After filtering by type of transaction contribution amounts are added together to get the total for that category.
			      	<br><br>
			        Contributions from Individuals<br>
			        Book type: "Individual"<br>
			        Sub type: "Cash Contribution" and "In-Kind Contribution"
			        <br><br>
			        Contributions from Committees<br>
			        Book type: "Political Committee" and "Political Party Committee"<br>
			        Sub type: "Cash Contribution" and "In-Kind Contribution"
			        <br><br>
			        Contributions from Businesses<br>
			        Book type: "Business Entity"<br>
			        Sub type: "Cash Contribution" and "In-Kind Contribution"
			      </div>
			    </div>
		  	</div>

		  	<div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseNine">
			          Tell me more about that shaded map.</a>
			      </h4>
			    </div>
			    <div id="collapseNine" class="panel-collapse collapse">
			      <div class="panel-body">
							In this map, states are shaded by how much money was sent from a particular state to an Oregon Political Action Committee (PAC) or Candidate. This map represents the current election cycle (November 11, 2010 to present). 
							<br><br>
							To find the amount of money contributed to Oregon PACS and Candidate Committees, we used the following transaction fields from the ORESTAR database: cash contribution, in-kind contribution, items sold at fair market value, loan forgiven (non-exempt) and interest/investment income. 
							<br><br>
							Find out more about each of the contribution sub-types <a href="http://sos.oregon.gov/elections/Documents/campaign-finance.pdf">here</a>. 
							<br><br>
							We merged the contributions from DC with Maryland to make the money flowing through DC appear more readily on the map. 
							<br><br>
							Although not visualized on the statewide map, there have been many contributions from countries outside of the US, such as the UK and Canada.     
			      </div>
			    </div>
		  	</div>
		  </div>
		</div>
	</div>
</div>
