<div class="container faq">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2>FAQ</h2>
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
			          Why is this information important?</a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			        While it is easy to find campaign finance information, it is extremely difficult to make sense of that data.  The Behind the Curtain app uses technology to help voters visualize campaign finance data in a more meaningful way.  Ultimately, we believe voters need more approachable information about who is funding candidates for elected office.</a>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
			        	Where did you get the data?</a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
							Campaign finance data is one of the most transparent public knowledge banks available thanks to federal and state reporting laws.  All of our data comes directly from the <a href="http://sos.oregon.gov/elections/Pages/orestar.aspx ">Oregon Secretary of State's website</a>.
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
			          Why have some campaigns spent more money than they have raised?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			        We calculate our "money raised" category based on how much money a campaign has raised during the current election cycle - so starting November 2012.  It is not uncommon for candidates to have money remaining from previous campaigns that they can carry forward for future campaigns. Currently this amount is not accounted for in our totals.  Therefore, campaigns may appear to have spent more than they have raised.
			      </div>
			    </div>
			  </div>

		    <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
			          How current is your data?</a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			        The Oregon Secretary of State does not have the infrastructure set up to provide regular data dumps, therefore we must scrape the data directly from their website in order to keep our data as current as possible.  We do this data scrape daily in an attempt to provide the most current information as possible.  However, due to the structure of their site, our scrapers do occasionally miss some of the data.  Each record generated on our site provides the number of transactions that our data is using to calculate our totals.  For the most current transaction data please visit the <a href="https://secure.sos.state.or.us/orestar/GotoSearchByElection.do">Oregon Secretary of State’s website</a> and search for the campaign or candidate you are looking for.
			      </div>
			    </div>
		  	</div>

        <h2>How did we compute our results?</h2>

        <div class="panel panel-default" ng-repeat="endpoint in endpointDocs">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" data-target="#{{endpoint.endpoint_name}}">
                {{endpoint.title}}</a>
            </h4>
          </div>
          <div id="{{endpoint.endpoint_name}}" class="panel-collapse collapse">
            <div class="panel-body">
              {{endpoint.txt}}
            </div>
          </div>
        </div>
		  </div>
		</div>
	</div>
</div>
