<div class="container home">
  <img class="sticker" src="images/icons/hack_sticker.png"></img>
  <div class="row">
    <div class="col-md-12">
      <img class="header" src="images/icons/behind_the_curtain_logo.png" />
      <h3>Lifting the Veil Off Local Campaign Finance</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 center-block">
      <div class="col-md-12">
        <div class="col-md-4 browse">
          <a href="#browse">
            <img src="images/icons/landing_1.svg" />
          </a>
        </div>
        <div class="col-md-4 search">
          <a href="#search">
            <img src="images/icons/landing_2.svg" />
          </a>
        </div>
        <div class="col-md-4 view-all">
          <a href="#view_all">
            <img src="images/icons/landing_3.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
