<div class="container home">

  <div class="row">
    <div class="col-xs-12">
      <img class="header img-responsive" src="images/new_logo_3.png" alt="Behind the Curtain" />
    </div>
  </div>


  <h3>Lifting the Veil Off Local Campaign Finance</h3>
  <div class="container">
    <div class="row">
      <div class="center-block">

        <!-- Removed browse option for MVP.
        <div class="col-md-4 browse">
          <a href="#browse">
          <div class="spacer">
            <ng-include src="'images/icons/landing_browse.svg'" />
          </div>
          </a>
        </div> -->
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 search-home">
          <a href="#/results/candidate/#">
          <div class="spacer">
            <ng-include src="'images/icons/landing_search.svg'" class="img-responsive"/>
          </div>
          </a>
        </div>

        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3 view-all">
          <a href="#oregon">
          <div class="spacer">
            <ng-include src="'images/icons/landing_oregon.svg'" class="img-responsive"/>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
