<div class="jumbotron">
  <!-- <h1>MAKING PUBLIC INFORMATION, PUBLIC KNOWLEDGE.</h1> -->
  <h1>Making public information, public knowledge.</h1>
<!--   <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
 -->
  <p class="lead">
    When it comes to public data, transparency doesn't always equal clarity.  Hack Oregon is a community-powered Nonprofit building civic data projects to promote engagement, awareness, and quality of life.
  </p>
  <p>
    <ul class="list-inline" id="question-buttons">
      <li><a class="btn btn-lg" ng-href="#who">Who</a></li>
      <li><a class="btn btn-lg" ng-href="#what">What</a></li>
      <li><a class="btn btn-lg" ng-href="#when">When</a></li>
      <li><a class="btn btn-lg" ng-href="#where">Where</a></li>
      <li><a class="btn btn-lg" ng-href="#mainviz">A boiler plate viz</a></li>
    </ul>
  </p>
</div>

<div class="row marketing">
  <h4></h4>
  <p>
  </p>

  <h4></h4>
  <p>
  </p>

  <h4></h4>
  <p></p>
</div>

<div class="footer">
  <p></p>
</div>
