<div class="well" style="height:70px;">
  <form role="form" style="text-align:center;">
    <div class="form-group">
      <label for="exampleInputEmail1">From</label>
      <input type="text" placeholder="YYYY-MM-DD" name="from_date">
      <label for="exampleInputPassword1">To</label>
      <input type="text" placeholder="YYYY-MM-DD" name="to_date">
      <label for="exampleInputFile">Query</label>
      <input type="text" name="query">
      <button type="submit" class="btn btn-default">Submit</button> 
    </div>
  </form>
</div>